* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}
    body {
    font-family: Arial, sans-serif;
    background-color: #f7f7f7;
    color: #333;
    line-height: 1.6;
    background-image: url(./imgs/ed665581-10be-42c6-9e2f-2785b0ccd56a.png);
    background-size: cover;
    min-height: 100vh;

}
header {
    background-color: #4CAF50;
    color: white;
    display: flex;
    justify-content: space-between;
    font-size: 15px;
    align-items: center;
    width: 100%;
    padding: 0 20px;
}

header .botao {
    background-color: #909090;
    color: white;
    text-decoration: none;
    justify-content: center;
    border: #333 solid 2px;
    border-radius: 5px 5px 5px 5px;
    cursor: pointer;
    font-size: 20px;
    font-weight: bold;
    padding: 5px;
}
main {
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    max-width: 960px;
    margin: auto;
    padding: 30px;


}
h3{
    padding: 20px;
}
li, p {
    font-size: 1.3em;
    margin-left: 25px;
}

section {
    padding: 20px;
}
a {
    color: #4CAF50;
    text-decoration: none;
}
table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
    border: #333 solid 2px;

}
th, td {
    padding: 10px;
    text-align: left;
    border-bottom: 1px solid #000000;
    border: #000000 solid 2px;
}
th {
   text-align: center; 
}

@media (max-width: 768px) {
    header h1 {
        font-size: 20px;
    }
    header .botao {
        font-size: 20px;
        padding: 5px;
    }
    header{
        gap: 30px;
    }
    main {
        padding: 20px;
    }
    section {
        padding: 15px;
    }
    li, p {
        font-size: 1em;
        margin-left: 15px;
    }
    .sublista{
        font-size: 14px;
    }
    #pastawindows{
        width: 100%;
        height: auto;
    }
}
#pastawindows{
    width: 850px;
}
.sublista{
    font-size: 16px;
}