* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}
    body {
    font-family: Arial, sans-serif;
    background-color: #f7f7f7;
    color: #333;
    line-height: 1.6;
    background-image: url(./imgs/ed665581-10be-42c6-9e2f-2785b0ccd56a.png);
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}
header {
    background-color: #4CAF50;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 0 20px;
    
}

header h1 {
    font-size: 1.8em;
    margin-bottom: 10px;

}

header .botao {
    background-color: #909090;
    color: white;
    text-align: center;
    justify-content: center;
    border: #333 solid 2px;
    border-radius: 5px 5px 5px 5px;
    cursor: pointer;
    font-size: 20px;
    font-weight: bold;
    padding: 5px;
}
    .question { 
        margin-bottom: 20px; 
    }
    
    .result { 
    background-color: rgba(255, 255, 255, 0.8);
    color: rgb(0, 0, 0);
    text-align: center;
    text-decoration: none;
    padding: 15px;
    border-radius: 8px;
    border: none;
    cursor: pointer;
    font-size: 16px;
    font-weight: bold; 
    display: none;
    width: 600px;
    margin: 20px auto;
    flex-wrap: wrap;
 
    }
    #fazerDenovo{
        margin-right: 10px;
    }

    #fazerDenovo,
    #sair 
    {
    background-color: #4CAF50;
    color: white;
    text-align: center;
    padding: 15px;
    border-radius: 5px 5px 5px 5px;
    cursor: pointer;
    font-size: 16px;
    margin-top: 10px;
    }

    .quizForm{
    display: flex;
    flex-direction: column;
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    width: 600px;
    margin: 0 auto;
    }
.corrigir{
    background-color: #4CAF50;
    color: white;
    text-align: center;
    padding: 15px;
    border-radius: 5px 5px 5px 5px;
    cursor: pointer;
    font-size: 16px;
    font-weight: bold;
}

label {
      display: block;
      margin-bottom: 5px;
    }

/* Responsividade */
@media (max-width: 768px) {
    main{
        width: 100%;
    }
    header h1 {
        font-size: 25px;
        text-align: center;
    }
    .quizForm {
        width: 100%;
        height: auto;
        padding: 5px;
        margin: 0px;
        box-sizing: border-box;
    }
    .corrigir{
        font-size: 30px;
        border-radius: 15px 15px 10px 10px;
        width: 60%;
        margin: 0 auto;
    }
    .result{
        font-size: 30px;
    }
    #fazerDenovo,
    #sair 
    {
        font-size: 30px;
    }
    .result{
        width: 100%;
        font-size: 50px;
    }
}